body {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: white;
  margin: 0px;
  padding: 0px;
}
.hero {
  position: relative;
  height: 100vh;
  background-color: #916c80; /* hero mauve */
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgba(145, 108, 128, 0) 0%,
    /* fully transparent at top */ rgba(145, 108, 128, 0.5) 40%,
    /* soft mauve in middle */ rgba(255, 255, 255, 1) 100%
      /* fade fully into white */
  );
  pointer-events: none;
}
#canvas2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#canvas1 {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.gradient-text {
  /* background: linear-gradient(to bottom, #fff1e4 0%, #ffe1c6 50%, #f2c7a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; */
  display: inline-block;
  color: #48284a;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: #ffe1c6 solid 2px;
}
header > h3 {
  color: #ffe1c6;
  text-transform: uppercase;
}

header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #48284a;
}

header span {
  font-size: 1rem;
  color: #666;
  margin-left: 0.5rem;
}
nav {
  display: flex;
  gap: 2.5rem;
}

nav a {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.about-text > h2 {
  display: none;
}

a {
  color: #ffe1c6;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  /* text-transform: uppercase; */
}

a:hover {
  border-bottom-color: #b8a9f7;
  color: #b8a9f7;
  opacity: 0.6;
}
.skills-section,
.about-section {
  text-align: center;
  padding: 3rem 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.skills-section h2,
.about-section h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #48284a;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.skill i {
  font-size: 3rem;
}

.skill p {
  font-size: 1rem;
  font-weight: 500;
  color: #48284a;
  margin: 0;
}

.skill:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 0 8px #ffc6d9);
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem;
  justify-content: center;
}

.about-image > img {
  width: 270px;
  border-radius: 100px;
}

.about-text {
  padding: 5rem;
  text-align: center;
}

.about-text > h2 {
  font-size: 2rem;
}

.about-text > h3 {
  font-weight: 400;
  font-size: 4rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #48284a;
  display: inline-block;
}

.section {
  padding: 4rem 2rem;
  color: black;
  padding-top: 0px;
}

#projects {
  max-width: 1440px;
  margin: 0 auto;
}

#projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.project-grid {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

.project-image img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.project-content {
  flex: 1;
  max-width: 500px;
}

.project-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #48284a;
}

.project-content p {
  font-size: 1rem;
  line-height: 1.8;
  color: #916c80;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  text-transform: uppercase;
  color: #916c80;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid #ffe1c6;
  padding-bottom: 2px;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;
}

.links a:hover {
  color: #916c80;
  border-color: #fff;
}

.project-card:nth-child(even) {
  flex-direction: row-reverse;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#contact {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#contact > a {
  color: #916c80;

  border-bottom: none;
}

#contact > a:hover {
  border-bottom: none;
  color: #48284a;
}

.footer-text {
  padding: 1rem 2rem;
  color: #48284a;
}

/* Drop in */

.margin-right {
  margin-right: 15px;
}

.text-drop {
  position: relative;
  display: flex;
  font-size: 100px;
  font-family: arial;
  font-weight: 900;
}

.h {
  opacity: 0;
  animation: drop 0.4s linear forwards;
  color: #ffe1c6;
}

.h2 {
  opacity: 0;
  animation: drop 0.3s linear forwards;
  color: #ffe1c6;
  animation-delay: 0s;
}

.i2 {
  opacity: 0;
  animation: drop 0.3s linear forwards;
  color: #ffe1c6;
  animation-delay: 0.15s;
}

.i3 {
  opacity: 0;
  animation: drop 0.3s linear forwards;
  color: #ffe1c6;
  animation-delay: 0.3s;
}

.m1 {
  opacity: 0;
  animation: drop 0.3s linear forwards;
  color: #ffe1c6;
  animation-delay: 0.45s;
}
.e {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
  color: #ffe1c6;
}

.l {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
  color: #ffe1c6;
}

.l2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
  color: #ffe1c6;
}

.o {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
  color: #ffe1c6;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

.smile {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #ffe1c6;
  font-size: 90px;
}

@media (max-width: 942px) {
  /* #canvas2 {
    display: none;
  } */

  .hero {
    width: 100%;
  }

  /* .about-text > h2 {
    display: block;
    font-size: 8rem;
  } */

  .about-text > h3 {
    top: 20%;
  }

  .header {
    flex-direction: column;
  }

  nav {
    flex-wrap: wrap;
  }

  .project-image img {
    width: 100%;
  }

  .project-card:nth-child(even) {
    flex-direction: row;
  }
}

@media (max-width: 758px) {
  .project-card {
    display: flex;
  }
}

@media (max-width: 400px) {
  .text-drop {
    font-size: 88px;
  }

  .about-text > h3 {
    font-size: 3rem;
  }

  .project-content p {
    font-size: 0.9rem;
  }

  .project-content > h3 {
    font-size: 1.5rem;
  }

  .links > a {
    font-size: 0.8rem;
  }

  .text-drop {
    font-size: 82px;
  }
}
