body {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.hero {
  position: relative;
  height: 100vh;
  background-color: #0f0f12;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 18, 1),
    rgba(255, 255, 255, 1)
  );
  pointer-events: none;
}

#canvas2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#canvas1 {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.gradient-text {
  background: linear-gradient(90deg, #7b4cff, #b794ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
header > h3 {
  color: #7b4cff;
}

header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #111;
}

header span {
  font-size: 1rem;
  color: #666;
  margin-left: 0.5rem;
}
nav {
  display: flex;
  gap: 0.5rem;
}

.about-text > h2 {
  display: none;
}

a {
  color: #7b4cff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

a:hover {
  border-bottom-color: #7b4cff;
  color: #7b4cff;
}
.skills-section,
.about-section {
  text-align: center;
  padding: 3rem 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.skills-section h2,
.about-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.skill i {
  font-size: 3rem;
}

.skill p {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.skill:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #7b4cff);
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: center;
}

.about-image > img {
  width: 270px;
  border-radius: 100px;
}

.about-text {
  padding: 5rem;
  text-align: center;
}

.about-text > h2 {
  font-size: 2rem;
}

.about-text > h3 {
  font-weight: 400;
  font-size: 4rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: linear-gradient(90deg, #7b4cff, #b794ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.section {
  padding: 4rem 2rem;
  color: black;
  padding-top: 0px;
}

#projects {
  max-width: 1440px;
  margin: 0 auto;
}

#projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.project-grid {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

.project-image img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.project-content {
  flex: 1;
  max-width: 500px;
}

.project-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #7b4cff;
}

.project-content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;

  margin-bottom: 1.5rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid #7b4cff;
  padding-bottom: 2px;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;
}

.links a:hover {
  color: #7b4cff;
  border-color: #fff;
}

.project-card:nth-child(even) {
  flex-direction: row-reverse;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#contact {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#contact > a {
  color: black;
  border-bottom: none;
}

#contact > a:hover {
  color: black;
  border-bottom: none;
  color: #7b4cff;
}

.footer-text {
  padding: 1rem 2rem;
}

@media (max-width: 1600px) {
  /* #canvas2 {
    display: none;
  } */

  .hero {
    width: 100%;
  }

  /* .about-text > h2 {
    display: block;
    font-size: 8rem;
  } */

  .about-text > h3 {
    top: 20%;
  }

  .header {
    flex-direction: column;
  }

  nav {
    flex-wrap: wrap;
  }

  .project-image img {
    min-width: 100%;
    max-width: 80%;
  }
}

@media (max-width: 758px) {
  .project-card {
    display: block;
  }
}

@media (max-width: 400px) {
  .about-text > h2 {
    font-size: 6rem;
  }

  .about-text > h3 {
    font-size: 3rem;
  }

  .project-content p {
    font-size: 0.9rem;
  }

  .project-content > h3 {
    font-size: 1.5rem;
  }

  .links > a {
    font-size: 0.8rem;
  }
}
